$primary: #F3D250;
$secondary: #90CCF4;
$secondary-dark: #5DA2D5;
$danger: #F78888;
$warning: #ffb347;
$success: #77dd77;
$white: #ECECEC;
$black: #000000;

$padding: 4px;

@import "_components/main";
